.aa{
    background-image:url("https://us.123rf.com/450wm/kevron2001/kevron20011509/kevron2001150900010/45457409-a-woman-lifts-her-arms-in-praise-at-sunset.jpg?ver=6");
    width:385px;
    height: 275px;
   position: absolute;
   top:370px;
    left: 115px;
    text-align: center;
    color: bisque;
    font-size:17px;
}

.bb{
    background-image: url("http://www.lubeznikcenter.org/Images%20New/Galleries/Hyndman-Gallery2.jpg");
    width: 350px;
    height: 350px;
    position: absolute;
    top: 330px;
    left: 500px;
    text-align: center;
    color: bisque;
}
.cc{
    background-image: url("https://image.freepik.com/free-vector/dark-background-social-media-icons_1017-4838.jpg" );
    width: 385px;
    height: 275px;
    position: absolute;
    top: 370px;
    left: 850px;
    text-align: center;
    color: bisque;
}
.cc a{
    font-size:40px;
    color: aliceblue;
    text-decoration: none;
}
.dd{
    position: absolute;
    top:700px;
    left:525px;
    font-size:50px;
    
    
   
}
section a{
    position: absolute;
    top: 800px;
    left:70px;
    font-size: 40px; 
    color: black;
    text-decoration: none;
}
.ee a{
    position: absolute;
    top: 800px;
    left: 600px;
    color: black;
    text-decoration: none;
}
.ff a{
    position: absolute;
    top: 800px;
    left:1040px;
    color: black;
    text-decoration: none;
}
.content{
    background-color: black;
    color: antiquewhite;
    position: absolute;
    width:1339px;
    height: 300px;
    top: 1200px;
    border: 1px solid black;
    font-size:50px;
    text-decoration: underline;
    
}
.gg{
    position: absolute;
    top: 850px;
    left:87px;
}
.hh{
    position: absolute;
    top: 850px;
    left:1025px;
}
.ii{
    position: absolute;
    top:870px;
    left: 600px;
}
form{
    position: absolute;
    top: 1300px;
    color: aliceblue;
    font-size:35px;

}
button{
    font-size:25px;

    
}
